@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #272120;
    color: #EDE5D6;
  }
}
